:root {
  --mainColor:#008081;
  --secondaryColor:#a3b2cf;

  --borderColor:#c1c1c1;

  --mainText:black;
  --secondaryText:#4b5156;

  --themeDotBorder: #23292e;

  --buttonColor:black;
}






body{
  margin: 0px;
  padding: 0px;
}



h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}


.s1 {
  background-color: #008081;

}

#profile_pic{
  display: block;
  margin: 0 auto;
  height:200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
}

.name-title{
  text-align: center;
  line-height:0;
  margin-top:25px;
  margin-bottom: 15px;
}

.ico{
  margin-right: 6px;
}

.sub-icon{
  font-size: 35px;
}

.sub-icon-svg{
  width: 32px;
  height: 28px;
  margin-top: 4px;
}

#theme-options-wrapper{
  display: flex;
  justify-content: center;
}


.window-body > p{
  font-size: 16px;
}

.title-bar-text {
  font-size: 14px;
  margin-left: 5px;
}


.navbar {
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  overflow: hidden;
  height: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
}



